################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.pdb
*.dll
*.xml
*.json
*.exe
*.cache
*.targets
*.props
*.cs
*.css
*.editorconfig
*.txt
*.CopyComplete
*.sqlite

*.config
*.Up2Date
*.dtbcache
*.v2
*.ide
*.ide-shm
*.ide-wal
*.lock
*.wsuo
*.bin
*.vsidx
*.user
